.main-container {
    @include displayGrid(3px, 'left left-container    central-container    right-container right', null, 0.3fr 0.5fr 0.9fr 0.5fr 0.3fr);
    height: 40vh;
    width: 100%;
    grid-auto-flow: dense;
}

.empty-box-container {
    border-left: none;
}

.empty-box-container-left {
    grid-area: left;
}

.empty-box-container-right {
    grid-area: right;
}

.red {
    color: red;
}

.central-container {
    @include posWidHei(relative, 100%, 100%);
    grid-area: central-container;
    border: 1px solid black;

    > {
        .img {
            @include posWidHei(absolute, 100%, 100%);
            /* gradient overlay [ to make text more readable ] */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/basketball.jpg') no-repeat;
        }

        .activity-info {
            @include displayGrid(null, 'name''categories', 1fr 0.5fr, null);
            @include posWidHei(absolute, 101%, 100%);
            /* stop word from overflowing div - instead, break word + hyphenate */
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
        }
    }
}

.name {
    grid-area: name;
}

.categories {
    grid-area: categories;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: end;
    /* bottom of area */
    position: relative;
    overflow: hidden;
    /* keep categories on page even when font is large */
}

.name,
.categories {
    margin: 3%;
}

.right-container,
.empty-box-container-left,
.empty-box-container-right,
.left-container {
    @include displayFlex(null, center, column);
}

.left-container {
    grid-area: left-container;
}

.right-box {
    @include displayFlex(null, center, null);
}

.left-box,
.right-box,
.empty-box-left,
.empty-box-right {
    width: 100%;
    height: 60%;
    background-size: cover;
}

.left-box {
    @include displayGrid(null, 'chill-level arrows', null, 1fr 0.5fr);
    background-image: url('../imgs/left-image.jpg');
}

.chill-level {
    grid-area: chill-level;
}

.chill-level-name {
    font-size: 2vw;
    margin-bottom: 0px;
    top: 3%;
    margin-top: 30%;
    line-height: 0.7;
}

.chill-level-amount {
    font-size: 2.4vw;
    margin-top: 0px;
    font-weight: bold;
}

.arrows {
    @include displayGrid(null, 'arrowUp''arrowDown', 1fr 1fr, null);
    grid-area: arrows;
    height: 100%;
    width: 100%;
    grid-row-gap: 10%;
    /* center horiztonally + vertically */
    justify-self: center;
    align-self: center;
}

.chill-level {
    /* center horiztonally + vertically */
    justify-self: center;
    align-self: center;
}

.up,
.down {
    width: 60%;
}

.up,
.down,
.refresh {
    height: auto;
    transition: all .2s;
    fill: white;
}

.up {
    grid-area: arrowUp;
    align-self: end;
}

.down {
    grid-area: arrowDown;
}

.right-container {
    grid-area: right-container;
}

.right-box {
    background-image: url('../imgs/beachChill.jpg');
}

.refresh {
    align-self: center;
    width: 20%;
}

.refresh:hover, .up:hover, .down:hover {
    fill: red;
  }

.empty-box {
    background-color: black;
}

.empty-box-right {
    background-image: url('../imgs/ferris-wheel.jpg');
}

.empty-box-left {
    background-image: url('../imgs/house.jpg');
}