  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-width: 100px) and (max-width: 480px) {
      .top-container {
          height: 30vh;
      }

      .main-container {
          grid-template-columns: 1fr;
          grid-template-areas: "central-container";
      }

      .central-container {
          margin: auto;
      }

      .empty-box-container-left,
      .empty-box-container-right,
      .right-container,
      .left-container {
          display: none;
      }

      .bottom-container> {
          div:nth-child(-n+7) {
              display: none;
          }

          .left-box {
              height: 200%;
              width: 99%;
          }
      }

      .right-box {
          height: 200%;
          width: 99%;
      }

      .bottom-container {
          @include displayGrid(null, 'left-container right-container', null, 1fr 1fr);
      }

      .logo {
          font-size: 6.5vw;
      }

      .learn-more-btn {
          width: 30%;
          font-size: 3.3vw;
      }

      .name {
          font-size: 12vw;
      }

      .chill-level-name {
          font-size: 4vw;
      }

      .chill-level-amount {
          font-size: 4.4vw;
      }

      .sidenav {
          padding-top: 15px;

          a {
              font-size: 18px;
          }
      }
  }

  /* iPads (portrait and landscape) ----------- */
  /* remove side images */
  @media only screen and (min-width: 480px) and (max-width: 800px) {
      .main-container {
          grid-template-columns: 0.5fr 0.9fr 0.5fr;
          grid-template-areas: 'left-container    central-container    right-container';
      }

      .empty-box-container-left,
      .empty-box-container-right {
          display: none;
      }

      .learn-more-btn {
          width: 22%;
          font-size: 2.3vw;
      }

      .bottom-container {
          grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
      }
  }