  .side-nav {
    @include posWidHei(fixed, 0, 100%);
    font-size: 2em;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141414;
    overflow-x: hidden;
    margin: auto;
    /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    > p {
      margin: auto;
      margin-top: 100px;
      width: 700px;
    color: #f6f6f6;
    }
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      transition: all .2s;
      &:hover {
        color: red;
      }
    }
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    span {
      margin: none;
    }
  }

  .red {
    color: red;
  }

  a.website {
    text-decoration: none;
    font-size: 1em;
    padding: 0px;
    padding-top: 10px;
  }
