.background-image {
    @include posWidHei(absolute, 100%, 75%);
    z-index: -1;
    background-image: url(../imgs/astronomy.jpg);
    background-size: cover;
}

.top-container {
    @include displayGrid(3px, 'logo''tag-line''learn-more-btn', 0.4fr 0.3fr 0.3fr, null);
    height: 55vh;
    width: 100%;
    grid-auto-flow: dense;

    * {
        margin-left: 5%;
        margin-top: 3%;
    }
}

.logo {
    grid-area: logo;
    font-size: 2.5vw;
    font-weight: bold;
}

.tag-line {
    grid-area: tag-line;
    font-size: 5vw;
    align-self: end;
}

.learn-more-btn {
    width: 11%;
    font-size: learn-more-btn;
    background-color: rgba(51, 51, 51, 0.5);
    border-width: 0;
    height: 40px;
    border-radius: .2vw;
    box-shadow: none;
    font-size: 1.3vw;
    font-weight: 700;
    color: white;
    margin-top: 0px;
    transition: 0.3s;

    &:hover {
        background-color: white;
        color: rgba(51, 51, 51, 1);
    }
}