body {
    overflow: hidden;
    /* stop ability to scroll down */
    margin: 0px;
}

.main-container {
    display: grid;
    height: 92vh;
    width: 100%;
    grid-auto-flow: dense;
    grid-gap: 3px;
    grid-template-columns: 0.5fr 0.5fr 0.9fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 0.7fr;
    grid-template-areas:
        '.     .     .   .    .'
        'left left-container    central-container    right-container right';
    color: white;
}

.empty-box-container {
    border-left: none;
}


.empty-box-container-left {
    grid-area: left;
}

.empty-box-container-right {
    grid-area: right;
}

.red {
    color: red;
}

.central-container {
    grid-area: central-container;
    position: relative;
    /* to get copy over image */
}

/* image fits the central div as fully as possible */
.central-container>.img {
    width: 100%;
    height: 100%;
    position: absolute;

    /* gradient overlay [ to make text more readable ] */

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/basketball.jpg') no-repeat;

    /* background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    height: 200px; */

}

.central-container>.activity-info {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: 'name'
        'categories';
    /* stop word from overflowing div - instead, break word + hyphenate */
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.name {
    grid-area: name;
}

.categories {
    grid-area: categories;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: end;
    /* bottom of area */
    position: relative;
    overflow: hidden;
    /* keep categories on page even when font is large */
}

.name,
.categories {
    margin: 3%;
}


.left-container {
    grid-area: left-container;
}

.left-container,
.right-container,
.empty-box-container-left,
.empty-box-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-box {
    display: flex;
    justify-content: center;
}

.left-box,
.right-box,
.empty-box-left,
.empty-box-right {
    width: 100%;
    height: 60%;
    background-size: cover;
}

.left-box {
    background-image: url('../imgs/left-image.jpg');
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas: 'chill-level arrows';
}

.chill-level {
    grid-area: chill-level;
}

.arrows {
    grid-area: arrows;
}

.arrows,
.chill-level {
    /* center horiztonally + vertically */
    justify-self: center;
    align-self: center;
}

.right-container {
    grid-area: right-container;
}

.right-box {
    background-image: url('../imgs/left-image.jpg');
}

.refresh {
    align-self: center;
}

.empty-box {
    background-color: black;
}

.bottom-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    width: 101%;
    height: 9vh;
    margin-top: 5px;
    justify-content: space-between
}

.empty-box-bottom {
    height: 9vh;
    margin: 1px;
    background-size: cover;
}

.empty-box-bottom:first-child {
    margin-left: 0px;
}

.empty-box-bottom:last-child {
    margin-right: 0px;
}