body {
    overflow: hidden;
    /* stop ability to scroll down */
    margin: 0px;
    background-color: #141414;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

a,
button {
    cursor: pointer;
}

.background-image {
    z-index: -1;
    position: absolute;
    height: 75%;
    width: 100%;
    background-image: url(../imgs/astronomy.jpg);
    background-size: cover;
}

.top-container {
    display: grid;
    height: 55vh;
    width: 100%;
    grid-auto-flow: dense;
    grid-gap: 3px;
    grid-template-rows: 0.4fr 0.3fr 0.3fr;
    grid-template-areas:
        'logo'
        'tag-line'
        'learn-more-btn';
}

.top-container * {
    margin-left: 5%;
    margin-top: 3%;
}

.logo {
    grid-area: logo;
    font-size: 2.5vw;
    font-weight: bold;
}

.tag-line {
    grid-area: tag-line;
    font-size: 5vw;
}


.learn-more-btn {
    width: 11%;
    font-size: learn-more-btn;
    background-color: rgba(51, 51, 51, 0.5);
    border-width: 0;
    height: 40px;
    border-radius: .2vw;
    box-shadow: none;
    font-size: 1.3vw;
    font-weight: 700;
    color: white;
    margin-top: 0px;
}

.learn-more-btn:hover {
    background-color: white;
    color: rgba(51, 51, 51, 1);
}

.main-container {
    display: grid;
    height: 40vh;
    width: 100%;
    grid-auto-flow: dense;
    grid-gap: 3px;
    grid-template-columns: 0.3fr 0.5fr 0.9fr 0.5fr 0.3fr;
    grid-template-areas:
        'left left-container    central-container    right-container right';
}

.empty-box-container {
    border-left: none;
}


.empty-box-container-left {
    grid-area: left;
}

.empty-box-container-right {
    grid-area: right;
}

.red {
    color: red;
}

.central-container {
    grid-area: central-container;
    position: relative;
    /* to get copy over image */
}

/* image fits the central div as fully as possible */
.central-container>.img {
    width: 100%;
    height: 100%;
    position: absolute;

    /* gradient overlay [ to make text more readable ] */

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../imgs/basketball.jpg') no-repeat;

    /* background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a') no-repeat;
    height: 200px; */

}

.central-container>.activity-info {
    position: absolute;
    display: grid;
    height: 100%;
    width: 101%;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: 'name'
        'categories';
    /* stop word from overflowing div - instead, break word + hyphenate */
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
}

.name {
    grid-area: name;
}

.categories {
    grid-area: categories;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: end;
    /* bottom of area */
    position: relative;
    overflow: hidden;
    /* keep categories on page even when font is large */
}

.name,
.categories {
    margin: 3%;
}


.left-container {
    grid-area: left-container;
}

.left-container,
.right-container,
.empty-box-container-left,
.empty-box-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-box {
    display: flex;
    justify-content: center;
}

.left-box,
.right-box,
.empty-box-left,
.empty-box-right {
    width: 100%;
    height: 60%;
    background-size: cover;
}

.left-box {
    background-image: url('../imgs/left-image.jpg');
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas: 'chill-level arrows';
}

.chill-level {
    grid-area: chill-level;
}

.chill-level-name {
    font-size: 2vw;
    margin-bottom: 0px;
    top: 3%;
    margin-top: 35%;
    line-height: 0.7;
}

.chill-level-amount {
    font-size: 2.4vw;
    margin-top: 0px;
    font-weight: bold;
}


.arrows {
    grid-area: arrows;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'arrowUp'
        'arrowDown';
    grid-row-gap: 10%;
}

.arrows,
.chill-level {
    /* center horiztonally + vertically */
    justify-self: center;
    align-self: center;
}

.up,
.down {
    width: 40%;
}

.up {
    grid-area: arrowUp;
    align-self: end;
}

.down {
    grid-area: arrowDown;
}

.right-container {
    grid-area: right-container;
}

.right-box {
    background-image: url('../imgs/left-image.jpg');
}

.refresh {
    align-self: center;
    width: 15%;
}

.empty-box {
    background-color: black;
}

.bottom-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
    width: 100%;
    height: 9vh;
    margin-top: 5px;
    justify-content: space-between
}

.empty-box-bottom {
    height: 9vh;
    margin: 2px;
    background-size: cover;
}

.empty-box-bottom:first-child {
    margin-left: 0px;
}

.empty-box-bottom:last-child {
    margin-right: 0px;
}